@model eadp1.Models.Product
@{
    Layout="~/Views/Shared/_Layout2.cshtml";	
}
	
<div id="body">
    <div id="contents">
        <h1>New Product </h1>
        @using (@Html.BeginForm("addProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) 
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend style="color:yellow">Product</legend>
                <div class="editor-label" style="color:yellow">
                    @Html.LabelFor(model => model.brandName)
                </div>
                
                <div class="editor-field">
                    @Html.EditorFor(model => model.brandName) 
                     <p style="color:yellow">@Html.ValidationMessageFor(model => model.brandName)</p>

                </div>
                
                <div class="editor-label" style="color:yellow">
                    @Html.LabelFor(model => model.price)
                </div>
                
                <div class="editor-field">
                    @Html.EditorFor(model => model.price)
                     <p style="color:yellow">@Html.ValidationMessageFor(model => model.price)</p>
           
                </div>

                <div class="editor-label" style="color:yellow">
                    @Html.LabelFor(model => model.type)
                </div>
                
                <div class="editor-field">
                    @Html.EditorFor(model => model.type)
                    <p style="color:yellow">@Html.ValidationMessageFor(model => model.brandName)</p>
                    <p style="color:gold">Enter 1 for Men , 2 For Women And 3 for Sale Shoes</p>
           
                </div>

                <div class="editor-label">
                    <Label style="color:yellow">Image:</Label>
           
                </div>
                <div class="editor-field">
                     Upload Image: <input type="file" name="imgLink" style="color:yellow" />
                   
                </div>
              
                <p>
                    <input type="submit" value="Add" />
                </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to Home", "Index")
    </div>
    </div>
</div>	
